<div class="vh-100 m-0 row justify-content-center align-items-center">
  <div>
    <div class="d-flex justify-content-center mb-5">
      <span class="display-1">{{ counter }}</span>
    </div>
    <div class="d-flex justify-content-center">
      <button (click)="restarCounter()" class="btn btn-primary mx-2">
        -
      </button>
      <button (click)="reiniciarCounter()" class="btn btn-primary mx-2">
        Reiniciar
      </button>
      <button (click)="sumarCounter()" class="btn btn-primary mx-2">
        +
      </button>
    </div>
  </div>
</div>
